/* Big tablet to 1200px (width smaller that the 1140px row) */
@media only screen AND (max-width: 1200px) {
    
    .hero-text-box { width: 100%; padding: 2%; }
    .row { padding: 2%; }
    section.section-features { padding: 40px 0 60px 0; }
    section.section-cities { padding: 50px 0 50px; }
    section.section-cities row { padding-bottom: 0;}
    section.section-steps div.steps-big { display: none; }
    section.section-steps div.steps-small { display: block; padding-top: 0;  padding-bottom: 0;}
    section.section-steps div.steps-small div.step-box img.phone-img { padding-right: 4%; width: 60%;}
    section.section-steps div.steps-small div.step-box img.button-app { margin-top: 10px;}
    section.section-steps .work-steps div { height: 45px; width: 45px; font-size: 120%; }  
}
/*-----------------------------------------------*/

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    
    body { font-size: 18px; }
    ul.main-nav li { margin-left: 30px;  }
    .long-copy { width: 80%; margin-left: 10%; line-height: 115%; word-spacing: 2px; }  
    section.section-features { padding: 30px 0 50px 0; }
    h2:after { margin: 25px auto 0px; }
    h3 { margin: 13px 0 10px 0; font-size: 100%; }
    section.section-features div p { margin-bottom: 10px; }
    .section-steps { padding-top: 20px; }
    section.section-steps div.steps-small div.step-box { margin-top: 10px;}
    section.section-steps div.big { display: none;}
    section.section-steps div.small { display: block; padding: 0;}
    section.section-steps div.small div:first-child  {text-align: right;}
    a img.button-app { height: 65px; width: 200px; }
    section.section-plans {font-size: 16px;} 
    .map-box { width: 100%; height: auto; position: relative; }
    .map { width: 100%; height: 300px; position: relative; }
    .form-box { position: relative; height: auto; padding-top: 20px; width: 100%; padding-bottom: 20px; }

}
/*-----------------------------------------------*/

/* Small phones to small tablets: from 481px to 784px */
@media only screen and (max-width: 784px) {
    
    body { font-size: 16px; }
    ul.main-nav { display: none;  }
    header nav a.mobile-nav-icon { display: inline-block; }
    ul.main-nav { float: left; margin-top: 35px; margin-left: 20px}
    ul.main-nav li{ display: block; }
    header nav ul.main-nav li a {display: block;  border-bottom: none; padding: 10px 0; font-size: 100%;}
    .sticky-nav ul.main-nav li a { padding: 10px 0; }
    .sticky-nav ul.main-nav { float: left;    margin: 10px 0;}
    .sticky-nav .mobile-nav-icon {margin-top: 10px;}
    .sticky-nav .mobile-nav-icon i { color: #555; }
    section.section-features { padding: 25px 0 45px 0; }
    h2:after { margin: 20px auto 0px; }
    .long-copy { width: 90%; margin-left: 5%; line-height: 115%; word-spacing: 2px; }
    section.section-features div.row div.span-1-of-4 { width: 100%; }
    section.section-features div.row i.icon-big { font-size: 450%; text-align: center;}
    section.section-features div.row h3 { text-align: center; font-size: 120%;}
    section.section-features div.row div.span-1-of-4 p { width: 90%; margin-left: 5%; font-size: 100%;}
    section.meals-showcase { display: none; }
    section.meals-showcase-responsive { display: block;}
    section.section-steps { padding-top: 40px;}
    section.section-steps div.steps-small div.span-1-of-3 { width: 100%; }
    section.section-steps div.steps-small div.span-2-of-3 { width: 100%; }
    section.section-steps div.row h2 { margin-bottom: 10px; }
    section.section-steps .step-box:first-child { text-align: center; margin-top: 2px; }
    section.section-steps div.steps-small div.step-box img.phone-img { width: 40%; margin-bottom: 20px; }
    section.section-steps div.steps-small div.step-box div.step-box p { font-size: 18px;}
    section.section-steps div.small a img.button-app { margin-top: 0; height: 45px; width: 160px;}
    section.section-cities div.cities-for-desktop {display: none;}
    section.section-cities div.cities-for-mobile {display: block;}
    section.section-cities div.cities-for-mobile .city-fetures,
    section.section-cities div.cities-for-mobile h3 { font-size: 90%; } 
    section.section-cities div.cities-for-mobile div.first {padding: 15px 30px 0 0;}
    section.section-cities div.cities-for-mobile div.second {padding: 15px 0 0 50px;}
    section.section-testimonials div.testimonials-bottom {padding-bottom: 40px;}
    section.section-testimonials div.testimonials-bottom div.span-1-of-3 {width: 100%;}
    section.section-testimonials div.testimonials-bottom blockquote:before { font-size: 400%; left:-3%;}  
    section.section-testimonials div.testimonials-bottom blockquote {margin-top: 8%;}
    section.section-testimonials div.testimonials-bottom cite {text-align: center;}
    section.section-plans div.span-1-of-3 {width: 100%;}
    section.section-plans div.plan-box {padding: 15px; margin: auto;}
    section.section-plans div.center {text-align: center;} 
    footer div.desktop-display {display: none;}
    footer div.mobile-display {display: block; }
    footer div.mobile-display ul.social-icons { font-size: 300%;}  
}

/*-------------------------------------------------*/

/* Small phones from 0 to 480px */
@media only screen and (max-width: 480px) {
    
    body { font-size: 12px; }
    header div.row img.logo {width:80px; height: 80px;}
    header div.hero-text-box h1 { font-size: 22px;}
    header a.btn-full {font-size: 15px; margin-bottom: 20px;margin-top: 15px;}
    section.section-steps .work-steps div {width:25px; height: 25px;margin-right: 15px;font-size: 90%;margin-bottom: 20px;}
    section.section-steps .work-steps p {font-size: 120%;}
    section.section-steps div.big { display: none;}
    section.section-steps div.small { display: block;}
    section.section-steps div.small div.span-1-of-2 { width: 100%;}
    section.section-steps div.small div.span-1-of-2 a img.button-app { height: auto;width: 40%; margin: 0; }
    section.section-steps div.small div.span-1-of-2 a img.button-app:first-child {margin-left:30%;margin-bottom: 15px;}
    section.section-steps div.small div.span-1-of-2 a img.button-app:last-child {margin-right:30%;}
    section.section-cities div.cities-for-mobile {display: none;}
    section.section-cities div.cities-for-small-mobile {display: block;}
    section.section-cities div.cities-for-small-mobile .city-fetures,
    section.section-cities div.cities-for-small-mobile h3 { font-size: 120%; } 
    section.section-cities div.cities-for-small-mobile h3 { margin-top: 0;margin-left: 10%; } 
    section.section-cities div.cities-for-small-mobile div.row div.shift-right { margin-left: 20%; margin-bottom: 20px; margin-top: 0;}
    section.section-testimonials cite {margin-top: 10px;}
    section.section-testimonials cite img {width:35px; height:35px; margin-right: 10px;}
    section.section-plans h2 {font-size: 25px;}
    section.section-plans div.plan-box {margin-bottom: 10px;}
    section.section-plans a.btn-ghost,
    section.section-plans a.btn-full {height: 45px; width: 100px; margin: 0; font-size: 80%; padding-top: 5px;}
    section.section-form form.contact-form {width: 100%;}
    section.section-form form.contact-form input[type=submit] {margin: 0; margin-left: 20%;}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
 
    
    
    
}